.bold-text {
    font-family: 'uni-sans-book';
    font-weight: bold;
    font-size: 22px;
}

.bold-text-white {
    font-family: 'uni-sans-book';
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
}

