.notification-pending-container{
  display: flex;
}

.notification-pending-color{
  background-color: #FFB547;
  flex: 1;
}

.notification-pending-content{
  flex: 20;
  background-color: white;
  display: flex;
  padding-left: 10px;
  gap: 10px;
}

.notification-pending-content-icon{
  margin-top: 10px;
}

.notification-pending-content-text{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'uni-sans-book';
}

.notification-pending-title{
  font-weight: bold;
  font-size: 18px;
}

.notification-pending-description{
  font-size: 16px;
}

.notification-pending-date{
  font-size: 16px;
  align-self: flex-end;
  font-weight: bold;
}


