.common-input-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.common-input {
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #FBFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: 1px solid #FBFBFB;
    width: 100%;
}

.common-input-container input::-webkit-outer-spin-button,
.common-input-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.common-input-container input[type=number] {
  -moz-appearance: textfield;
}
