.history-user-page {
  min-height: 95vh;
}

.history-user-title {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
.history-user-title-filter {
  font-size: 18px;
  cursor: pointer;
}

.table-history-user-header {
  background: #005bbd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  flex: 1;
  gap: 20px;
}

.table-history-user-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f8fbfb;
  padding: 20px;
  align-items: flex-start;
  border: 2px solid #e6e7e9;
  flex: 1;
  gap: 20px;
}

.history-response-user {
  font-family: "uni-sans-book";
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.history-docents-user {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.history-class-list-user {
  display: flex;
  flex-wrap: wrap;
}
.align-flex5 {
  flex: 5;
}

.align-flex6 {
  flex: 6;
}

.align-flex {
  flex: 1;
}

.align-flex7 {
  flex: 7;
}

.history-user-hours {
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
