.home-page{
  font-family: 'uni-sans-book';
  min-height: 90vh;
}

.home-page-layout{
  display: flex;
  flex-direction: column;
}

.home-title-page{
  font-size: 60px;
  font-weight: bold;
  margin-left: 20px;
  flex-direction: column;
  margin-bottom: 20px;
  color: black;
}

.home-title-page span{
  color: red;
}

.home-page-info{
  font-weight: bold;
  font-size: 24px;
  color: #003770;
  margin-left: 20px;
}

.home-page-img{
  display: block;
}

.home-page-img img{
  width: 70%;
}
