.layout-container {
  width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #F1F5F9;
}

.layout-menu-container {
    background-color: #01498E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 15vw;
}

.layout-img {
    padding: 2em;
    margin-bottom: 10vh;
}


.layout-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 2em;
}

.layout-header-icon{
  cursor: pointer;
}

.layout-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 4vh;
    flex: 1;
    align-self: flex-end;
}

.layout-header-home{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.layout-buttons{
  display: flex;
  gap: 20px;
  align-self: flex-end;
}

.layout-title{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}

.layout-navbar{
    font-family: 'uni-sans-book';
    display: flex;
    flex-direction: column;
}
.layout-navbar-item{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 2em;
}

.layout-navbar-item-active{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    background: rgba(255,255,255, 0.2);
    cursor: pointer;
    padding-left: 2em;
}

.layout-navbar-item img{
    margin-right: 10px;
    width: 1.8em;
    height: 1.8em;
}

.layout-navbar-item-active img{
    margin-right: 10px;
    width: 1.8em;
    height: 1.8em;
}

.layout-navbar-footer{
    color: white;
    font-family: 'uni-sans-book';
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-self: flex-end;
}

.layout-navbar-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}
