.modal{
    
    text-align: center;
    flex: 1;
}

.modal-title{
    justify-self: center;
    display: flex;
    justify-content: space-between;
}

.modal-img{
    margin-top: 20px;
    width: 200px;
    height: 200px;   
}

.modal-button{
    text-align: end;
}