.button-container {
    width: 100%;
    background-color: #007AFC;
    padding: 10px 15px;
    border-radius: 25px;
    border-width: 0px;
    margin-bottom: 10px;
}

.button-container-disabled {
    width: 100%;
    background-color: gray;
    padding: 10px 15px;
    border-radius: 25px;
    border-width: 0px;
    margin-bottom: 10px;
}

.button-text {
    font-family: 'uni-sans-book';
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
}
