.tag-1{
    background-color: #01B574;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    color: #FFFFFF;

    font-size: 22px;
    font-family: 'uni-sans-book';
}

.tag-2{
    background-color: #F2994A;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    color: #FFFFFF;

    font-size: 22px;
    font-family: 'uni-sans-book';
}

.tag-3{
    background-color: #EB5757;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    color: #FFFFFF;

    font-size: 22px;
    font-family: 'uni-sans-book';
}

.tag-default{
    background-color: #E6E7E9;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #686869;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 22px;
    font-family: 'uni-sans-book';

}
