.tag-free{
    background-color: #01B574;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.tag-pending{
    background-color: #F2994A;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-reserved{
    background-color: #EB5757;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-default{
    background-color: #E6E7E9;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #686869;
    font-weight: 400;
}
