.modal-warning{
  width: 50vw;
  border-radius: 20px;
}

.modal-warning-title{
  margin-bottom: 10px;
}

.modal-warning-text{
  font-size: 18px;
  margin-bottom: 10px;
}

.modal-warning-data{
  flex: 7;
  display: flex;
}

.modal-warning-buttons{
  display: flex;
  gap: 30px;
}

.modal-warning-buttons-btn{
  flex: 1;  
}
  