.warning-container {
    width: 100%;
    background-color: #E30613;
    padding: 10px 15px;
    border-radius: 25px;
    border-width: 0px;
    margin-bottom: 10px;
}

.warning-text {
    font-family: 'uni-sans-book';
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
}
