.form-content{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}

.book-subtitle {
    font-family: uni-sans-book;
    color: #007AFC;
    font-size: 24px;
}

.form-title{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.form-title-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-items{
    display: flex;
    flex-direction: column;
    background-color: #F8FBFB;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
}
.form-item-inputs{
    display: flex;
}

.form-item-inputs-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 40px;
    flex: 1.5
}

.form-item-inputs-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 2
}

.form-item-inputs-left-flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
    flex: 1;
}

.form-item-inputs-title {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.form-item-inputs-left-flex-row{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 20px;

}
.form-divider {
    width: 4px;
    height: 520px;
    background-color: #E6E7E9;
    margin: 0px 10px 0px 10px
}

.form-submit-container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.form-submit-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}



.form-submit-description {
    display: flex;
    flex: 5;
    flex-direction: row;
}
