.fullscreen-login-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-modal-container {
    background-color: #F4F7FE;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 20vw;
}
